.side_panel {

}
.item {
    font-weight: bold;
    color: #000;
    transition: 300ms linear;
    margin-bottom: 15px;
}
.item:hover {
    text-decoration: none;
    color: #42ABFB;
}
.item.active {
    color: #42ABFB;
}