.user {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto;
    margin-bottom: 40px;
    position: relative;
}
.user__avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.user__avatar img {
    width: 70%;
}
.user__follow_btn {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.user__info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
}
.user__likes {
    position: absolute;
    bottom: 0;
    display: flex;
}
.user__likes img{
    width: 30px;
    height: 30px; margin-right: 10px;
}
