.main {
    background-color: #7a8d8c24;
    position: relative;
    padding: 0 15px;
}

.main__bg {
    background-image: url("https://bigpicture.ru/wp-content/uploads/2015/01/bnwmountains15.jpg");
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    opacity: 0.3;
    z-index: -1;
}

