.post {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.post__ava {
    width: 40px;
    margin-right: 15px;
    border-radius: 100%;
}
.post__text {
    text-align: left;
}