#root {
  height: 100vh;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: 59px auto;
  width: 100%;
  height: 100%;
}
.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

