.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs__items {

}
.dialogs__item {

}
.dialogs__item.active {
    font-weight: bold;
}
.dialogs__messages {

}
.dialogs__messages_message {

}